<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IOT Data Cleaning App</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="card">
      <h3>Upload Files</h3>
      <div class="drop_box">
        <header>
          <h4>Select File here</h4>
        </header>
        <p>Files Supported: CSV, TXT, XML</p>
        <form method=post enctype=multipart/form-data action="/upload">
          <input type=file name=file>
          <button type=submit class="btn">Upload</button>
        </form>
      </div>
    </div>
  </div>

  <!-- JavaScript to display dialog box -->
  <script>
    // Function to display dialog box
    function showDialog(numMissingValues) {
      var dialogBox = confirm("Number of missing values: " + numMissingValues + "\n\nDo you want to download the cleaned Excel file?");
      if (dialogBox == true) {
        window.location.href = "/download/{{ cleaned_filename }}";
      }
    }

    // Trigger dialog box when page loads
    window.onload = function() {
      var numMissingValues = "{{ num_missing_values }}";
      showDialog(numMissingValues);
    };
  </script>
</body>
</html>
